# Tristan Hilbert
# 2/6/2020
# A GitIgnore for an HTML Project



####
# There isn't a lot to ignore for an html Project
# I will include a bin directory in case there is compilation
# This directory will be ignored
####

bin/**
